<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
<link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body class="index-body">

    <div class="home-card">

        <h1>Sistema de Gestión de Bobinados</h1>

        <div sec:authorize="hasRole('INGENIERO')" class="menu-option">
            <a th:href="@{/usuarios}">Gestión de usuarios</a>
        </div>

        <form th:action="@{/logout}" method="post">
            <button type="submit" class="logout-btn">
                Cerrar sesión
            </button>
        </form>

    </div>

</body>

</html>